<h1>Stock Purchases</h1>
<table class="table table-striped table-hover ">
<thead>
  <tr>
    <th>Stock</th>
    <th>Price</th>
    <th>Original Amount</th>
    <th>Current Amount</th>
    <th>Total Value</th>
    <th>Date</th>
  </tr>
</thead>
<tbody>
    <%= render @stock_purchases %>
</tbody>
</table>
<%= link_to 'Add A Stock Purchase', new_stock_purchase_path %>