<h1>Stock Sells</h1>
<table class="table table-striped table-hover ">
<thead>
  <tr>
    <th>Stock</th>
    <th>Price</th>
    <th>Amount</th>
    <th>Total Value</th>
    <th>Date</th>
  </tr>
</thead>
<tbody>
    <%= render @stock_sells %>
</tbody>
</table>